torch==2.4.1
torchvision==0.19.1
ultralytics==8.3.0  
ultralytics-thop==2.0.8  
numpy==1.26.3
pandas==2.2.3
scipy==1.14.1
einops==0.8.1  
opencv-python==4.10.0.84 
pillow==10.2.0  
imageio
scikit-image==0.23.2  
pycocotools==2.0.7 
timm
tqdm